@media(max-width:1000px){
  .footer-logo {
    font-size: 41px;
    padding-left: 30px;
  }
  .footer-list {
    font-size: 25px;
    margin-top: 15px;
  }
  .content-margin {
    width: 660px;
  }
  .content-item {
    margin-left: 10px;
  }
}
@media(max-width:670px){
  header {
    height: 35px;
  }
  .header-logo {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 35px;
    margin-right: 10px;
  }
  .header-list {
    line-height: 35px;
  }
  .header-list li {
    font-size: 5px;
    padding-right:10px;
    padding-left: 0px;
  }
  .main {
    height: 350px;
  }
  .main-logo {
    font-size: 120px;

  }
  .main-text{
    font-size: 25px;
  }
  footer {
    height: 150px;

  }
  .footer-logo {
    font-size: 25px;
    line-height: 150px;
    padding: 0 10px;
  }
  .footer-list {
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;
  }
  .footer-list li {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    padding-top: 10px;
  }
  .content {
    height: 850px;
  }
  .content-message {
    padding-top: 30px;
  }
  .content-message h1 {
    font-size: 30px;
  }
  .content-margin {
    width: 300px;
    padding-top: 70px;
  }
  .content-item {
    margin-bottom: 50px;
    margin-left: 50px;
  }
  .blast-main {
    height: 700px;
  }
  .title {
    padding-top: 30px;
  }
  .title h1 {
    font-size: 30px;
  }
  .blast-mov {
    padding-top: 70px;
  }
  .blast-comment {
    width: 85%;
    margin: 0 auto;
    padding-top: 30px;
  }
  .blast-comment p {
    font-size: 15px;
  }
  .gaiyou {
    height: 550px;
  }
  .gaiyou1 {
    padding-top: 30px;
  }
  .gaiyou1 h1 {
    font-size: 30px;
  }
  .gaiyou2 {
    font-size: 15px;
    margin-top: 70px;
  }
  table {
    width: 90%;
  }
  .aisatu {
    height: 500px;
  }
  .aisatu1 {
    padding-top: 30px;
  }
  .aisatu2 {
    margin-top: 70px;
  }
  .aisatu1 h1 {
    font-size: 30px;
  }
  .aisatu3 img {
    width: 150px;
    height: 220px;
  }
  .aisatu4 p {
    font-size: 30px;
  }
  .web-main {
    height: 300px;
  }
  .web-message {
    padding-top: 30px;
  }
  .web-message h1 {
    font-size: 30px;
  }
  .web-comment {
    width: 85%;
    font-size: 15px;
    margin-top: 70px;
  }
}
