@media(max-width:1000px){
  .l3 {
  }

  .main {
    height: 1300px;
  }
  .main-logo {
    font-size: 400px;
    padding-top: 170px;
  }
  .main-text {
    font-size: 70px;
  }
  .footer-logo {
    font-size: 41px;
    padding-left: 30px;
  }
  .footer-list {
    font-size: 25px;
    margin-top: 15px;
  }
  .gaiyou {
    height: 900px;
    width: 100%;
  }
  .content {
    height: 1000px;
  }
  .content-margin {
    width: 30%;
    padding-top: 100px;
  }
  .content-item {
    float: none;
    width: 100%;
    margin:0 auto;
    margin-bottom: 100px;
  }
  .content-item img {
    width: 100%;
  }
  .content-item p {
    font-size: 35px;
    top: 55px;
    left: 50px;
  }
  footer {
    height: 400px;
  }
  .footer-logo {
    line-height: 400px;
    font-size: 55px;
  }
  .footer-list {
    font-size: 35px;
  }
  .footer-list li {
    padding-top: 30px;
  }

}
@media(max-width:670px){

  header {
    height:50px;
  }
  .header-logo {
    width: 100%;
    line-height:50px;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    text-align: center;
    float: none;
    font-size: 25px;
  }
  .header-list {
    background-color: black;
    font-size: 10px;
    line-height: 50px;
    width: 100%;
  }
  .header-list li {
    font-size: 15px;
    padding-left: 0px;
    padding-right: 0px;
    width: 32%;
    text-align: center;
  }
  .main {
    height: 700px;
    width: 100%;
  }
  .main-logo {
    width: 100%;
    padding-top: 200px;
    font-size: 145px;
  }
  .main-text {
    font-size: 24px;
  }
  footer {
    height: 150px;

  }
  .footer-logo {
    font-size: 25px;
    line-height: 150px;
    padding: 0 10px;
  }
  .footer-list {
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;
  }
  .footer-list li {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    padding-top: 10px;
  }
  .content {
    height: 2000px;
  }
  .content-message {
    width: 80%;
    padding-top: 140px;
  }
  .content-message h1 {
    font-size: 40px;
  }
  .content-margin {
    width: 100%;
    padding-top: 70px;
  }
  .content-item {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 100px;
    position: static;
  }
  .item {
    position: static;
  }
  .comment {
    position: static;
    color: black;
  }
  .content-item p {
    font-size: 30px;
  }
  .blast-main {
    height: 900px;
  }
  .title {
    width: 80%;
    padding-top: 140px;
  }
  .title h1 {
    font-size: 40px;
  }
  .blast-mov {
    padding-top: 50px;
    width: 100%;
  }
  .blast-mov video {
    width: 100%;
  }
  .blast-comment {
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
  }
  .blast-comment p {
    font-size: 20px;
    padding-bottom: 10px;
  }
  .gaiyou {
    height: 770px;
  }
  .gaiyou1 {
    width: 80%;
    padding-top: 140px;

  }
  .gaiyou1 h1 {
    font-size: 40px;
  }
  .gaiyou2 {
    font-size: 15px;
    margin-top: 70px;
  }
  table {
    width: 95%;
    font-size: 20px;
  }
  .aisatu {
    height: 900px;
  }
  .aisatu1 {
    width: 80%;
    padding-top: 50px;
  }
  .aisatu2 {
    margin-top: 70px;
  }
  .aisatu1 h1 {
    font-size: 40px;
  }
  .aisatu3 {
    width: 200px;
    margin: 0 auto;
    height: 250px;
    float: none;
  }
  .aisatu3 img {
    width: 200px;
    height: 200px;
    float: none;
  }
  .aisatu4 {
    float: none;
    border: 5px solid white;
    width: 95%;
    margin: 0 auto;
    height: 300px;
    margin-top: 50px;
  }
  .aisatu4 p {
    font-size: 30px;
  }
  .web-main {
    height: 700px;
  }
  .web-message {
    width: 80%;
    padding-top: 140px;
  }
  .web-message h1 {
    font-size: 40px;
  }
  .web-comment {
    width: 90%;
    font-size: 20px;
    margin-top: 70px;
  }
}
