@media(max-width:1000px){

}
@media(max-width:670px){
  header {
    height: 80px;
  }
  .header-logo {
    font-size: 26px;
    padding-left: 20px;
    padding-right: 1px;
    line-height: 80px;
  }
  .header-list {
    line-height: 80px;
  }
  .header-list li {
    font-size: 12px;
    padding-right:1px;
  }
  .main {
    height: 400px;
  }
  .main-logo {
    font-size: 150px;

  }
  .main-text{
    font-size: 32px;
  }
  footer {
    height: 150px;

  }
  .footer-logo {
    font-size: 31px;
    line-height: 150px;
    padding: 0 20px;
  }
  .footer-list {
    text-align: center;
    padding-right: 15px;
    padding-top: 10px;
  }
  .footer-list li {
    font-size: 15px;
    padding: 0px;
    margin: 0px;
    padding-top: 6px;
  }
}
