li {
  list-style: none;
}
body {
  font-family:serif;
  color:#fff
}

header {
  color: #fff;
  background-color:black;
  height:100px;
}
.header-logo {
  font-size:36px;
  float:left;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 100px;

}


.header-list li {
  float:left;
  padding:33px 20px;
}

.main {
  background:linear-gradient(to top, black, red);
  height: 600px;
}
.main-logo {
  width: 550px;
  margin: 0 auto;
  color: gold;
}
.main-logo h1 {
  font-size: 250px;
  font-family: serif;
  text-align: center;
  display: inline;
  width: 100%;
}
.main-logo p {
  font-size: 42px;
  color: black;
  text-align: center;
  width:550px;
  display: inline;
  font-weight: bold;
}
.gaiyou {
  background-color: black;
  height:600px;
  padding-top: 1px;
}
.gaiyou1 {
  width: 550px;
  margin:0 auto;
}
.gaiyou1 h1 {
  font-size: 40px;
  text-align: center;
  border:5px ridge white;
}
.gaiyou2 {
  width: 550px;
  margin: 0 auto;
  font-size: 25px;
  margin-top: 100px;
}
footer {
  color: white;
  height:250px;
  background: linear-gradient(to bottom, black, red);
}
.footer-logo {
  font-size: 51px;
  padding: 80px 55px;
  float:left;
}
.footer-list {
  float:right;
}
.footer-list li {
  font-size: 30px;
  padding:5px 10px;
  margin-right: 20px;
}
.aisatu {
  background-color: black;
  height: 600px;
  padding-top: 1px;
}
.aisatu1 {
  width: 550px;
  margin:0 auto;
}
.aisatu1 h1 {
  font-size: 40px;
  border:5px ridge white;
  text-align: center;
}
.aisatu2 {
  padding-top: 80px;

}
.aisatu2 img {
  width: 200px;
  height:300px;
  display: inline;
  float: left;
}
.aisatu2 p {
  font-size: 40px;
  float: right;
  line-height: 200px;
}
.rekishi {
  height: 600px;
  background-color: black;
  padding-top: 1px;
}
.rekishi1 {
  width: 550px;
  margin:0 auto;
}
.rekishi1 h1 {
  font-size: 40px;
  text-align: center;
  border:5px ridge white;
}
.link {
  color: white;
  text-decoration: none;
}
