* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.l1 {
  color: #136FFF;
}
.l1:hover {
  border-bottom: 2px solid #136FFF;
}
.l2 {
  color: white;
}
body {
  height: 100%;
  font-family:"SF Pro JP", "SF Pro Text", "SF Pro Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  color: #fff;
  background-color:black;
  height:50px;
}
.header-logo {
  font-size:20px;
  float:left;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 50px;
  background: linear-gradient(to top, black, red);
  margin-right: 20px;
}
.header-list {
  line-height: 50px;
  float: left;
}

.header-list li {
  float:left;
  padding-left: 20px;
  padding-right: 20px;
}

.main {
  background:linear-gradient(to top, black, red);
  height: 600px;
  padding-top: 0px;
  width: 100%;
}
.main-logo {
  width:100%;
  color: gold;
  font-size: 250px;
  font-family: serif;
  text-align: center;
}
.main-text {
  text-align: center;
  font-size: 42px;
  color: black;
  font-weight: bold;
}
.gaiyou {
  background-color: #EEE;
  height:800px;
  color: black;
  font-weight: bold;
}
.gaiyou1 {
  width: 50%;
  margin:0 auto;
  padding-top: 50px;
  border-bottom: 1px solid black;
}
.gaiyou1 h1 {
  font-size: 52px;
  text-align: center;
}
.gaiyou2 {
  font-size: 30px;
  width: 100%;
  margin:0 auto;
  margin-top: 100px;
}
table {
  width: 80%;
  margin: 0 auto;
  border-collapse:separate;
  border-spacing: 0;
}

table td{
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top: 1px solid #a8b7c5;
  box-shadow: 0px -3px 5px 1px #eee inset;
  width: 25%;
  padding: 10px 0;
}

table td:last-child{
  border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

footer {
  color: white;
  height:250px;
  background: linear-gradient(to bottom, black, red);
}
.footer-logo {
  font-size: 51px;
  line-height: 250px;
  padding-left:55px;
  float:left;
}
.footer-list {
  float: right;
  height: 100%;
  font-size: 28px;
  margin-right: 30px;
  text-align: center;
}
.footer-list li {
  padding-top: 15px;
}
.aisatu {
  background-color: #EEE;
  height: 600px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.aisatu1 {
  width: 50%;
  margin:0 auto;
  padding-top: 50px;
  border-bottom: 1px solid black;
}
.aisatu1 h1 {
  font-size: 52px;
  text-align: center;
}
.aisatu2 {
  width: 100%;
  margin-top: 100px;
}
.aisatu3 {
  width: 30%;
  float: left;
}
.aisatu3 img {
  width: 200px;
  height: 270px;
  float: right;
}
.aisatu4 {
  height: 270px;
  width: 45%;
  float: right;
}
.aisatu4 p {
  line-height: 270px;
  font-size: 50px;
}
.content {
  height: 600px;
  margin:0 auto;
  background-color: #EEE;
}
.content-message {
  width: 50%;
  margin: 0 auto;
  padding-top: 50px;
  border-bottom: 1px solid black;
}
.content-message h1 {
  font-size: 52px;
  text-align: center;
}
.content-margin {
  width: 1020px;
  padding-top: 130px;
  margin: 0 auto;
}
.content-item {
  width: 200px;
  height: 150px;
  display: inline-block;
  margin-left: 100px;
  position: relative;
}
.content-item img {
  width: 200px;
  height: 150px;
  border-radius: 15px;
  border: 5px solid white;
}
.content-item p {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 25px;
  top: 65px;
  left: 27.5px;
}
.web {
  padding-left: 22px;
}
.web2 {
  padding-left: 15px;
}
.blast-main {
  height: 800px;
  width: 100%;
  background-color: #EEE;
}
.title {
  width: 50%;
  margin: 0 auto;
  padding-top: 50px;
  border-bottom: 1px solid black;
}
.title h1 {
  font-size: 52px;
  text-align: center;
}
.blast-mov {
  width: 500px;
  height: 300px;
  margin: 0 auto;
  padding-top: 130px;
}
.blast-mov video {
  width: 500px;
  height: 300px;
}
.blast-comment {
  margin-top: 50px;
  width: 100%;
}
.blast-comment p {
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
}
.web-main {
  height: 600px;
  background-color: #EEE;
}
.web-message {
  width: 50%;
  margin: 0 auto;
  padding-top: 50px;
  border-bottom: 1px solid black;
}
.web-message h1 {
  font-size: 52px;
  text-align: center;
}
.web-comment {
  width: 100%;
  margin: 0 auto;
  margin-top: 130px;
  text-align: center;
  font-size: 20px;
}
.link {
  text-decoration: none;
}
